@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Pendientes:
    <ul>
        <li>agregar una pagina con toda la historia en los 3 idiomas --> quienes somos</li>
        <li>armar galeria con audios y videos --> faltaria que se pueda editar html</li>
        <li>ponerle onda a la estetica</li>
    </ul></p>
</div>
